<div id="main">
  <div class="alert alert-danger" id="no-results" *ngIf="!stories().length">No stories found</div>

  <div id="list" class="container">
    <div class="row m-btm">
      <div class="col-3">&nbsp;</div>
      <div class="form-group col-4">
        <input type="text" class="form-control" [value]="searchText()" (input)="onSearchChange($event)"
               placeholder="Search Stories">
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="getPage()">Search</button>
      </div>
    </div>
    @for (item of stories(); track item) {
    <div class="row">
      <div class="col-3">&nbsp;</div>
      @if (item.url !== '') {
      <a class="col-6" [href]="item.url" target="_blank">{{item.title}}</a>
      }
      @else {
      <span class="col-6">{{item.title}}</span>
      }
      <div class="col-3">&nbsp;</div>
      <br />
    </div>
    }
  </div>

  <div class="form-group m-top" *ngIf="stories().length">
    <button class="btn btn-default mr fw-bold" (click)="firstPage()" [disabled]="pageNumber() === 1"><<</button>
    <button class="btn btn-default mr fw-bold" (click)="previousPage()" [disabled]="pageNumber() === 1"><</button>

    <span id="page-count">Page {{pageNumber()}} of {{numberOfPages()}} ({{storyCount()}} Stories)</span>

    <button class="btn btn-default mr fw-bold" (click)="nextPage()" [disabled]="pageNumber() === numberOfPages()">></button>
    <button class="btn btn-default mr fw-bold" (click)="lastPage()" [disabled]="pageNumber() === numberOfPages()">>></button>

    Items Per Page
    <select class="form-control page-size" [value]="pageSize()" (change)="onSizeChange($event)">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
    </select>
  </div>

  <ngx-spinner name="spinner" [fullScreen]="true" type="ball-pulse-sync"
               size="medium" color="#fff"></ngx-spinner>
</div>
